<h2>Become a Full Member</h2>

<%- include('partials/messages') %>

<form action="/become-member" method="POST">
	<input
		type="text"
		name="secret"
		placeholder="Enter secret password"
		required
	/>
	<button type="submit">Submit</button>
</form>
