<h2>Become a Full Member</h2>
<% if (error) { %>
<p style="color: red"><%= error %></p>
<% } %>
<form action="/become-member" method="POST">
	<input
		type="text"
		name="secret"
		placeholder="Enter secret password"
		required
	/>
	<button type="submit">Submit</button>
</form>
